:root {
    --color-primary: #4e64d5;
    --color-secondary: #f8f8f8;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--color-secondary);
    font-family: Overpass, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row:after {
    content: '';
    display: block;
    clear: both;
}
.row > div {
    float: left;
    width: auto;
    padding: 0 10px;
    margin-bottom: 12px;
}

.row > .col-sm-2 {
    width: 16.66%;
}
.row > .col-sm-3 {
    width: 25%;
}
.row > .col-sm-4 {
    width: 33.3%;
}
.row > .col-sm-6 {
    width: 50%;
}
.row > .col-sm-12 {
    width: 100%;
}

@media(min-width: 750px){
    .row > .col-md-2 {
        width: 16.66%;
    }
    .row > .col-md-3 {
        width: 25%;
    }
    .row > .col-md-4 {
        width: 33.3%;
    }
    .row > .col-md-6 {
        width: 50%;
    }
    .row > .col-md-12 {
        width: 100%;
    }
}

@media(min-width: 1050px){
    .row > .col-lg-2 {
        width: 16.66%;
    }
    .row > .col-lg-3 {
        width: 25%;
    }
    .row > .col-lg-4 {
        width: 33.3%;
    }
    .row > .col-lg-6 {
        width: 50%;
    }
    .row > .col-lg-12 {
        width: 100%;
    }
}


.main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
}
.left-side {
    flex: 13%;
    flex-basis: 250px;
    flex-grow: 1;
    background: var(--color-primary);
    color: #fff;
}
.right-side {
    flex: 87%;
    background: var(--color-secondary);
}
.top-right-line {
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(150, 150, 150, 0.3);
    height: 50px;
}
.container {
    padding: 20px;
    text-align: left;
}
.lscontainer {
    padding: 8px 20px;
    /* padding-top: 10px; */
}
.left-side h3.logo {
    /* margin: 0;
    color: #fff;
    display: block;
    padding: 5px 10px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 7px;
    font-weight: 300;
    font-size: 18px; */
    font-weight: 400;
    text-align: center;
    margin: 0;
    height: 50px;
    line-height: 50px;
    background: var(--color-primary);
    border-bottom: 2px solid #fff;
}
.machine-name {
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 300;
}
.machine-name .material-icons {
    display: block;
    font-size: 66px;
    padding-bottom: 3px;
    background: #fff;
    padding: 0;
    color: var(--color-primary);
    border-radius: 50%;
    line-height: 100px;
    height: 100px;
    width: 100px;
    margin: 7px auto;
    margin-bottom: 10px;
}

.left-menu {

}
.left-menu a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    margin: 5px 0;
    text-decoration: none;
    padding: 3px 16px;
    border-radius: 16px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    transition: .3s background, .3s color;
}
.left-menu a:hover,
.left-menu a.active {
    background: rgba(0, 0, 0, 0.22);
    color: #fff;
    /* background: rgba(0, 0, 0, 0.35); */
}
.left-menu a .material-icons {
    display: inline-block;
    font-size: 1.35rem;
    line-height: 27px;
    vertical-align: top;
    margin-right: 2px;
}


.btn {
    display: inline-block;
    padding: 0px 17px;
    font-size: 17px;
    line-height: 30px;
    margin: 3px 1px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 400;
    transition: .2s background border-color;
}
.btn .material-icons {
    margin: 0 -3px;
    line-height: 1.1rem;
    font-size: 1rem;
    vertical-align: middle;
}
.btn-outline {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background: transparent;
    font-weight: 400;
}
.btn-outline:hover {
    background: var(--color-primary);
    color: #fff;
}
.card {
    background: #fff;
    border-radius: 5px;
    padding: 20px 24px;
    box-shadow: 0 2px 1px -1px rgba(90,90,90,.13), 0 1px 1px 0 rgba(90,90,90,.14), 0 1px 3px 0 rgba(90,90,90,.12);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #333;
}
.card p {
    margin-top: 0;
}

.card.colored {
    padding: 15px 34px;
    padding-left: 65px;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.card.colored .title {
    display: block;
    font-size: 30px;
}
.card.colored .subtitle {
    text-transform: uppercase;
}
.card.colored .material-icons {
    position: absolute;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
    bottom: 3px;
    left: 3px;
}
.card.red {
    background: #e53935;
}
.card.blue {
    background: #3179e6;
}
.card.orange {
    background: #f57c00;
}
.card.green {
    background: #25b314;
}


.top-right-line .btn-outline {
    margin: 7px 16px;
}
.top-right-line .user-info {
    display: block;
    float: right;
    padding: 0 60px;
    padding-left: 35px;
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
    color: #333;
    border-left: 1px solid #ddd;
    font-weight: 300;
}
.top-right-line .user-info:hover {
    background: #f8f8f8;
}
.top-right-line .user-info .material-icons {
    vertical-align: middle;
    display: inline-block;
    line-height: 50px;
    margin-right: 15px;
    margin-top: -2px;
}


.container h2.title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    color: #555;
}
.container h2.title:after {
    display: block;
    width: 65px;
    height: 3px;
    content: '';
    background: #576fda;
    margin-bottom: 10px;
}
.sep {
    display: block;
    clear: both;
    margin-bottom: 30px;
}
