<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,700%7CRoboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">

    <title>Document</title>
</head>
<body>


    <div class="main">
        <div class="left-side responsive-handling">
            <h3 class="logo">
                PenGUInix
                <a href="#" class="btn btn-outline btn-white btn-right ico-only sm-menu-only close-menu-btn"><i class="material-icons">menu</i></a>
            </h3>
            <div class="lscontainer">
                <div class="machine-name">
                    <i class="material-icons">computer</i>
                    Node Machine A
                </div>
                <div class="left-menu">
                    <a href="control.html" class="active"><i class="material-icons">home</i> Home</a>
                    <a href="control_users.html"><i class="material-icons">supervisor_account</i> Users</a>
                    <a href="control_fs.html"><i class="material-icons">folder_open</i> File System</a>
                    <a href="control_logs.html"><i class="material-icons">receipt</i> Logs</a>
                    <a href="control_console.html"><i class="material-icons">chrome_reader_mode</i> Console</a>
                    <a href="control_configs.html"><i class="material-icons">settings</i> Configs</a>
                    <a href="control_processes.html"><i class="material-icons">memory</i> Processes</a>
                    <a href="docs.html"><i class="material-icons">book</i> Docs</a>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="top-right-line">
                <div class="padder">
                    <a href="#" class="btn btn-outline ico-only sm-menu-only open-menu-btn"><i class="material-icons">menu</i></a>
                    <a href="machines.html" class="btn btn-outline"><i class="material-icons">arrow_back_ios</i> Machines</a>
                </div>
                <a href="#" class="user-info">
                    <i class="material-icons">account_circle</i>
                    artur99
                </a>
            </div>
            <div class="container">
                <h2 class="title">Main statistics</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card colored red">
                            <i class="material-icons">view_agenda</i>
                            <span class="title msv" data-msv="ram_mem">300 MB</span>
                            <span class="subtitle">Memory</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card colored blue">
                            <i class="material-icons">memory</i>
                            <span class="title msv" data-msv="cpu_usage">28%</span>
                            <span class="subtitle">CPU Usage</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card colored orange">
                            <i class="material-icons">insert_drive_file</i>
                            <span class="title msv" data-msv="fh_count">832</span>
                            <span class="subtitle">File Handlers</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card colored green">
                            <i class="material-icons">view_agenda</i>
                            <span class="title msv" data-msv="ram_usage">28%</span>
                            <span class="subtitle">RAM Usage</span>
                        </div>
                    </div>
                </div>
                <div class="sep"></div>
                <h2 class="title">Main statistics</h2>
                <div class="card">
                    <p>Hello!</p>
                    <p>Your system has been active for <b>23 hours and 22 minutes</b>.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/script.js"></script>
    <script src="/assets/microservices.js"></script>
</body>
</html>
